@{
    var client = new WebClient();
    var json = client.DownloadString("http://localhost:49413/api/artigos/top/5");
    var top_artigos = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/docvenda/totalabs");
    var total_vendas = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/doccompra/totalabs");
    var total_compras = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/clientes/top/5");
    var top_clientes = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/doccompra/years/3");
    var compras_last3years = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/docvenda/years/3");
    var vendas_last3years = Json.Decode(json);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                @*<li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li> *@
            </ul>
            @*<ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
                *@
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h2>Crescimento</h2>
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-default" id="week-btn">Week</button>
                            <button type="button" class="btn btn-default" id="month-btn">Month</button>
                            <div class="form-group float-right" id="month-selection" hidden>
                                <select class="form-control" id="selMonth">
                                    <option value="3">Últimos 3 meses</option>
                                    <option value="6">Últimos 6 meses</option>
                                    <option value="01-01/">Janeiro</option>
                                    <option value="01-02">Fevereiro</option>
                                    <option value="01-03">Março</option>
                                    <option value="01-04">Abril</option>
                                    <option value="01-05">Maio</option>
                                    <option value="01-06">Junho</option>
                                    <option value="01-07">Julho</option>
                                    <option value="01-08">Agosto</option>
                                    <option value="01-09">Setembro</option>
                                    <option value="01-10">Outubro</option>
                                    <option value="01-11">Novembro</option>
                                    <option value="01-12">Dezembro</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default" id="year-btn">Year</button>
                            <div class="form-group float-right" id="year-selection" hidden>
                                <select class="form-control" id="selYear">
                                    <option value="3" selected>Últimos 3 anos</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div id="firstchart"></div>
                    <hr />
                    <br />
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-1">
                        <div class="panel panel-green panel-colorful" id="sales-panel">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Vendas</p>
                                <i class="fa fa-shopping-cart fa-5x"></i>
                                <hr>
                                <p class="h2 text-thin" id="total-vendas">@total_vendas <strong>€</strong></p>
                            </div>
                        </div>
</div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="purchases-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Compras</p>
                            <i class="fa fa-truck fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin" id="total-compras">@total_compras <strong>€</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-2">
                    <div class="panel panel-green panel-colorful" id="areceivable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a receber</p>
                            <i class="fa fa-plus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin">2,423</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="apayable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a pagar</p>
                            <i class="fa fa-minus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin">7,428</p>
                        </div>
                    </div>
                </div>
            </div><div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="text-center">Top Clientes</h2>
                    <div id="secondchart"></div>
                </div>
                <div class="col-lg-6 col-sm-6" data-chart-values="@top_artigos" id="top-artigos">
                    <h2 class="text-center">Top Produtos</h2>
                    <div id="thirdchart"></div>
                </div>
            </div>
            </div>
    </div>
</div>


<script>

    $("#sales-panel").click(function () {
        window.location.href = "Sales/Sales";
    });

    $("#purchases-panel").click(function () {
        window.location.href = "Purchases/Purchases";
    });

    $("#areceivable-panel").click(function () {
        window.location.href = "Accounts/Receivable";
    });

    $("#apayable-panel").click(function () {
        window.location.href = "Accounts/Payable";
    });

    $(".panel").css('cursor', 'pointer');

    var top_artigos =  @Html.Raw(Json.Encode(@top_artigos));
    var data_top_artigos = [];
    for(var i = 0; i < top_artigos.length; i++){
        var datatemp = {label: 'teste', value: '2' };

        datatemp.label = top_artigos[i].DescArtigo;
        datatemp.value = parseFloat(Math.round(top_artigos[i].TotalVendas * 100) / 100).toFixed(2);
        data_top_artigos.push(datatemp);
    }

    var top_clientes =  @Html.Raw(Json.Encode(@top_clientes));
    var data_top_clientes = [];
    for(var i = 0; i < top_clientes.length; i++){
        var datatemp = {label: 'teste', value: '2' };

        datatemp.label = top_clientes[i].NomeCliente;
        datatemp.value = parseFloat(Math.round(top_clientes[i].TotalGasto * 100) / 100).toFixed(2);
        data_top_clientes.push(datatemp);
    }

    var compras_last3years =  @Html.Raw(Json.Encode(@compras_last3years));
    var data_crescimento = [];
    for(var i = 0; i < compras_last3years.length; i++){
        var datatemp = {y: 'teste', b: '2' };

        datatemp.y = compras_last3years[i].Num;
        datatemp.b = parseFloat(Math.round(compras_last3years[i].Total * 100) / 100).toFixed(2);
        data_crescimento.push(datatemp);
    }

    var vendas_last3years =  @Html.Raw(Json.Encode(@vendas_last3years));
    for(var i = 0; i < vendas_last3years.length; i++){
        var datatemp = {y: 'teste', a: '2' };

        datatemp.y = vendas_last3years[i].Num;
        datatemp.a = parseFloat(Math.round(vendas_last3years[i].Total * 100) / 100).toFixed(2);
        data_crescimento.push(datatemp);
    }

    var firstchart = Morris.Line({
        element: 'firstchart',
        data: data_crescimento,
        xkey: 'y',
        ykeys: ['a', 'b'],
        lineColors: ['green', 'red'],
        resize: true,
        labels: ['Vendas', 'Compras'],
        xlabels: 'month'
    });

    jQuery(function ($) {

        $(document).on({
            ajaxStart: function() { 
                $('#wait').css('display', 'block'); 
            },
            ajaxStop: function() { 
                $('#wait').css('display', 'none');
            }    
        });

        $('#week-btn').on('click', function () {
            //change data values using
            //firstchart.options.data = newData;
            $('#month-selection').hide();
            $('#year-selection').hide();
            firstchart.options.grid = false; //só para teste
            firstchart.redraw();
        });
        $('#month-btn').on('click', function () {
            //change data values using
            //firstchart.options.data = newData;
            $('#year-selection').hide();
            $('#month-selection').show();
            firstchart.options.grid = true; //só para teste
            firstchart.redraw();
        });
        $('#year-btn').on('click', function () {
            //change data values using
            //firstchart.options.data = newData;
            $('#month-selection').hide();
            $('#year-selection').show();
            firstchart.options.grid = true; //só para teste
            firstchart.redraw();
        });
        $('#year-selection').on('change', function() {
            var teste = $('#selYear').val();
            console.log(teste);
            var data_crescimento = [];
            if(teste == null){
                return;
            }
            else if(teste == 3){
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', b: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.b = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', a: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.a = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                        firstchart.setData(data_crescimento);
                    }
                });

            }
            else{
                
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/year/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', b: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.b = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/year/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', a: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.a = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                        firstchart.setData(data_crescimento);
                        firstchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/clientes/top/5/year/' + teste,
                    success: function(response) {
                        data_top_clientes.splice(0,data_top_clientes.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {label: 'teste', value: '2' };

                            datatemp.label = response[i].NomeCliente;
                            datatemp.value = parseFloat(Math.round(response[i].TotalGasto * 100) / 100).toFixed(2);
                            data_top_clientes.push(datatemp);
                        }
                        secondchart.setData(data_top_clientes);
                        secondchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/artigos/top/5/year/' + teste,
                    success: function(response) {
                        data_top_artigos.splice(0,data_top_artigos.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {label: 'teste', value: '2' };

                            datatemp.label = response[i].DescArtigo;
                            datatemp.value = parseFloat(Math.round(response[i].TotalVendas * 100) / 100).toFixed(2);
                            data_top_artigos.push(datatemp);
                        }
                        thirdchart.setData(data_top_artigos);
                        thirdchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/totalabs/year/' + teste,
                    success: function(response) {
                        $('#total-compras').html(response);
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/totalabs/year/' + teste,
                    success: function(response) {
                        $('#total-vendas').html(response);
                    }
                });
                $('#year-selection').hide();
            }


        });
    });

    var secondchart = Morris.Donut({
        element: 'secondchart',
        resize: true,
        data: data_top_clientes
    });

    var thirdchart = Morris.Donut({
        element: 'thirdchart',
        resize: true,
        data: data_top_artigos
    });
</script>