@{
    var client = new WebClient();
    var json = client.DownloadString("http://localhost:49413/api/artigos/top/5");
    var top_artigos = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/docvenda/totalabs");
    var total_vendas = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/doccompra/totalabs");
    var total_compras = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/clientes/top/5");
    var top_clientes = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/lucro/year/0");
    var lucro = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/contas/receber/0");
    var aReceber = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/contas/pagar/0");
    var aPagar = Json.Decode(json);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/">Resumo <span class="sr-only">(current)</span></a></li>
                <li><a href="/Sales">Vendas</a></li>
                <li><a href="/Purchases">Compras</a></li>
                <li><a href="/Inventory">Inventário</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h2>Crescimento</h2>
                    <br />
                    <br />
                    <div id="firstchart"></div>
                    <hr />
                    <br />
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-1">
                        <div class="panel panel-green panel-colorful" id="sales-panel">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Vendas</p>
                                <i class="fa fa-shopping-cart fa-5x"></i>
                                <hr>
                                <p class="h2 text-thin" id="total-vendas">@total_vendas <strong>€</strong></p>
                            </div>
                        </div>
</div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="purchases-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Compras</p>
                            <i class="fa fa-truck fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin" id="total-compras">@total_compras <strong>€</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-2">
                    <div class="panel panel-green panel-colorful" id="areceivable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a receber</p>
                            <i class="fa fa-plus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin" id="areceber">@aReceber</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="panel panel-danger panel-colorful" id="apayable-panel">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Contas a pagar</p>
                            <i class="fa fa-minus fa-5x"></i>
                            <hr>
                            <p class="h2 text-thin" id="apagar">@aPagar</p>
                        </div>
                    </div>
                </div>
            </div><div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="text-center">Top Clientes</h2>
                    <div id="secondchart"></div>
                </div>
                <div class="col-lg-6 col-sm-6" data-chart-values="@top_artigos" id="top-artigos">
                    <h2 class="text-center">Top Produtos</h2>
                    <div id="thirdchart"></div>
                </div>
            </div>
            </div>
    </div>
</div>


<script>

    $('.dropdown-menu.year-dropdown select').click(function (e) {
        e.stopPropagation();
    });

    $("#sales-panel").css('cursor', 'pointer');
    $("#purchases-panel").css('cursor', 'pointer');
    $("#sales-panel").click(function () {
        window.location.href = "Sales";
    });

    $("#purchases-panel").click(function () {
        window.location.href = "Purchases";
    });

    var top_artigos =  @Html.Raw(Json.Encode(@top_artigos));
    var data_top_artigos = [];
    for(var i = 0; i < top_artigos.length; i++){
        var datatemp = {label: 'teste', value: '2' };

        datatemp.label = top_artigos[i].DescArtigo;
        datatemp.value = parseFloat(Math.round(top_artigos[i].TotalVendas * 100) / 100).toFixed(2);
        data_top_artigos.push(datatemp);
    }

    var top_clientes =  @Html.Raw(Json.Encode(@top_clientes));
    var data_top_clientes = [];
    for(var i = 0; i < top_clientes.length; i++){
        var datatemp = {label: 'teste', value: '2' };

        datatemp.label = top_clientes[i].NomeCliente;
        datatemp.value = parseFloat(Math.round(top_clientes[i].TotalGasto * 100) / 100).toFixed(2);
        data_top_clientes.push(datatemp);
    }

    var data_crescimento = @Html.Raw(Json.Encode(@lucro));


    function formatDate(myDate){
        var m_names = new Array("Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez");

        var d = new Date(myDate);

        var curr_month = d.getMonth();
        //var curr_year = d.getFullYear();
        //return (m_names[curr_month] + "-" + curr_year);
        return (m_names[curr_month]);
    }

    function formatHoverLabel(row, preUnit) {
        var m_long_names = new Array("Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro");
        var d = new Date(row.month);
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();

        var salesText = "Balanço para "+m_long_names[curr_month] + " de " + curr_year;
        salesText = salesText + "<br/>"+labelsInGraph[0]+": "+preUnit+row['vendas'];
        salesText = salesText + "<br/>"+labelsInGraph[1]+": "+preUnit+row['compras'];
        salesText = salesText + "<br/>"+labelsInGraph[2]+": "+preUnit+row['lucro'];
        return salesText;
    }

    labelsInGraph = ['Vendas', 'Compras', 'Lucro'];
    var firstchart = Morris.Line({
        element: 'firstchart',
        data: data_crescimento,
        xkey: 'month',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['vendas', 'compras', 'lucro'],
        lineColors: ['green', 'red', 'blue'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: labelsInGraph,
        hoverCallback: function (index, options, content, row) {
            return formatHoverLabel(row, options.preUnits);
        },
        xLabelFormat: function(str){
            return formatDate(str);
        },
        preUnits: '€'
    });

    jQuery(function ($) {

        $(document).on({
            ajaxStart: function() {
                $('#wait').css('display', 'block');
            },
            ajaxStop: function() {
                $('#wait').css('display', 'none');
            }
        });

        $('#year-selection').on('change', function() {
            var teste = $('#selYear').val();
            var data_crescimento = [];
            if(teste == null){
                return;
            }
            else if(teste == 3){
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', b: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.b = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/years/' + teste,
                    success: function(response) {
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {y: 'teste', a: '2' };

                            datatemp.y = response[i].Num;
                            datatemp.a = parseFloat(Math.round(response[i].Total * 100) / 100).toFixed(2);
                            data_crescimento.push(datatemp);
                        }
                        firstchart.setData(data_crescimento);
                    }
                });

            }
            else{

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/lucro/year/' + teste,
                    success: function(response) {
                        firstchart.setData(response);
                        firstchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/clientes/top/5/year/' + teste,
                    success: function(response) {
                        data_top_clientes.splice(0,data_top_clientes.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {label: 'teste', value: '2' };

                            datatemp.label = response[i].NomeCliente;
                            datatemp.value = parseFloat(Math.round(response[i].TotalGasto * 100) / 100).toFixed(2);
                            data_top_clientes.push(datatemp);
                        }
                        secondchart.setData(data_top_clientes);
                        secondchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/artigos/top/5/year/' + teste,
                    success: function(response) {
                        data_top_artigos.splice(0,data_top_artigos.length);
                        for(var i = 0; i < response.length; i++){
                            var datatemp = {label: 'teste', value: '2' };

                            datatemp.label = response[i].DescArtigo;
                            datatemp.value = parseFloat(Math.round(response[i].TotalVendas * 100) / 100).toFixed(2);
                            data_top_artigos.push(datatemp);
                        }
                        thirdchart.setData(data_top_artigos);
                        thirdchart.redraw();
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/doccompra/totalabs/year/' + teste,
                    success: function(response) {
                        $('#total-compras').html(response);
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/docvenda/totalabs/year/' + teste,
                    success: function(response) {
                        $('#total-vendas').html(response);
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/contas/receber/' + teste,
                    success: function(response) {
                        $('#areceber').html(response);
                    }
                });

                $.ajax({
                    async: true,
                    type: 'GET',
                    url: 'http://localhost:49413/api/contas/pagar/' + teste,
                    success: function(response) {
                        $('#apagar').html(response);
                    }
                });
            }


        });
    });

    var secondchart = Morris.Donut({
        element: 'secondchart',
        resize: true,
        data: data_top_clientes
    });

    var thirdchart = Morris.Donut({
        element: 'thirdchart',
        resize: true,
        data: data_top_artigos
    });
</script>