@{
    ViewBag.Title = "Inventório";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var client = new WebClient();
    client.Encoding = System.Text.Encoding.UTF8;
    var json = client.DownloadString("http://localhost:49413/api/artigos/");
    var artigos = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/artigos/topstock/10/order/asc");
    var asc = Json.Decode(json);
    json = client.DownloadString("http://localhost:49413/api/artigos/topstock/10/order/desc");
    var desc = Json.Decode(json);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Resumo</a></li>
                <li><a href="/Sales">Vendas</a></li>
                <li><a href="/Purchases">Compras</a></li>
                <li class="active"><a href="/Inventory">Inventário <span class="sr-only">(current)</span></a></li>
                <li><a href="/Clients">Clientes</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Inventário</h1>

            <div class="row">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 col-lg-offset-2">
                        <h2>Produtos</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table_data">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Produto</th>
                                        <th>Categoria</th>
                                        <th>Stock</th>
                                        <th>PM Compra</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var artigo in artigos)
                                    {
                                        <tr id="@artigo.CodArtigo">
                                            <td>@artigo.CodArtigo</td>
                                            <td>@artigo.DescArtigo</td>
                                            <td>@(String.IsNullOrEmpty(artigo.Categoria) ? "Outros" : artigo.Categoria)</td>
                                            <td>@artigo.Stock</td>
                                            <td>@artigo.Preco €</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                      
                <div class="row">
                    <div class="col-lg-6 col-sm-6" id="more-stock">
                        <h2 class="text-center">Items com mais stock</h2>
                        <div id="firstchart"></div>
                    </div>
                    <div class="col-lg-6 col-sm-6" id="less-stock">
                        <h2 class="text-center">Items com menos stock</h2>
                        <div id="secondchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $('table tr').each(function () {
        $(this).on("click", function(){
            window.location.href = "Produtos/id/" + $(this).attr("id");
        })
        });

    $('table.table_data').each(function () {
        var currentPage = 0;
        var numPerPage = 15;
        var $table = $(this);
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $div = $('<div class="row text-center"></div>')
        var $pager = $('<ul class="pagination"></ul>');
        for (var page = 0; page < numPages; page++) {
            var pagenum = parseInt(page) + 1;
            $('<li class="page-number"></li>').html('<a href="#">' + pagenum +'</a>').bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }
        $div.html($pager);
        $div.insertAfter($table.parent()).find('li.page-number:first').addClass('active');

    });

    $('#year-dropdown').remove();

    $("#sales-panel").css('cursor', 'pointer');
    $("#purchases-panel").css('cursor', 'pointer');
    $("#sales-panel").click(function () {
        window.location.href = "Sales";
    });

    $("#purchases-panel").click(function () {
        window.location.href = "Purchases";
    });

    var topstock_asc =  @Html.Raw(Json.Encode(@asc));
    var data_topstock_asc = [];
    for(var i = 0; i < topstock_asc.length; i++){
        var datatemp = {Produto: 'teste', Stock: '3'};

        datatemp.Produto = topstock_asc[i].DescArtigo;
        datatemp.Stock = topstock_asc[i].Stock;
        data_topstock_asc.push(datatemp);
    }

    var topstock_desc =  @Html.Raw(Json.Encode(@desc));
    var data_topstock_desc = [];
    for(var i = 0; i < topstock_desc.length; i++){
        var datatemp = {Produto: 'teste', Stock: '3'};

        datatemp.Produto = topstock_desc[i].DescArtigo;
        datatemp.Stock = topstock_desc[i].Stock;
        data_topstock_desc.push(datatemp);
    }

    var firstchart = Morris.Bar({
        element: 'firstchart',
        data: data_topstock_desc,
        xkey: 'Produto',
        ykeys: ['Stock'],
        labels: ['Stock atual:'],
        resize: true
    });

    var secondchart = Morris.Bar({
        element: 'secondchart',
        data: data_topstock_asc,
        xkey: 'Produto',
        ykeys: ['Stock'],
        labels: ['Stock atual:'],
        resize: true
    });
</script>

<h2>Index</h2>
